<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header th:replace="~{/presentation/fragments/fragments.html :: header}"></header>

<div class = "cuerpo" >
aprovacion de usuarios medicos
</div>

<footer>
  <div class="footer-content">
    Total Soft Inc.
    <div>
      <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
    </div>
    <div>○2019 Tsf, Inc.</div>
  </div>
</footer>
</body>
</html>