<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header th:replace="~{/presentation/fragments/fragments.html :: header}"></header>

<div class = "cuerpoAdmin" >

<!--    Ya tiene style-->
    <div id="cuerpo_div_index" class="cuerpoIndex">
        <div class="buscar_lugar_especialidad">
            <div class="buscador">
<!--                falta metodo para buscar por nombre o ID-->
                <form class="buscar_especialidad_lugar" th:action="@{/filtrarDocs}" method="get">
                    <span>Doctor</span>
                    <input type="text" name="doctor" placeholder="">
                    <span>Status</span>
                    <input type="text" name="status" placeholder="">
                    <button type="submit" name="buscar">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>
<!--     Ya tiene style-->



        <div class="medicosAdmin" th:each="m : ${Doctors}">
              <div class="imagenAqui">
                <img  class="SolicitanteFoto" th::src="${m.getFotoUrl()}" height="512" width="512"/>
              </div>
            <h5 class="nombreSolicitante">
                <span th:text="${m.getNombre()}"></span>
                <span th:text="${m.getId()}"></span>
            </h5>
            <div class="BotonesAprobar">
                <span th:if="${m.getAprobado()}" th:text="'Aprobado'" style="color: green;"></span>

                <div th:if="${!m.getAprobado()}">
                    <form th:action="@{/aprobar}" method="post">
                        <input type="hidden" name="id" th:value="${m.getId()}">
                        <button type="submit">Aprobar</button>
                    </form>
                </div>
                <form th:action="@{/desaprobar}" method="post">
                    <input type="hidden" name="desaprobar" th:value="${m.getId()}">
                    <button type="submit">Desautorizar</button>
                </form>
            </div>
        </div>
</div>



</div>


<footer th:replace="~{/presentation/fragments/fragments.html :: footer}"></footer>
</body>
</html>