<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header th:replace="~{/presentation/fragments/fragments.html :: header}"></header>

<div class = "cuerpo" >
    <div class="citas">
        <h2>Citas programadas</h2>
        <table>
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Médico</th>
                <th>Paciente</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cita : ${citas}">
                <td th:text="${cita.getFechaCita()}"></td>
                <td th:text="${cita.horaCita}"></td>
                <td th:text="${cita.medico.nombre}"></td>
                <td th:text="${cita.paciente.nombre}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<footer th:replace="~{/presentation/fragments/fragments.html :: footer}"></footer>
</body>
</html>