<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body class="LoginBody">

<header th:replace="~{/presentation/fragments/fragments.html :: header}"></header>

    <div class="divFormLogin">
        <form action="/login" method="post">
            <div class="loginSeccion">
                <img src="../../../static/images/login-icon.png" height="2048" width="2048"/><img src="" alt="Login" class="iconLogin">
                Login
            </div>
            <div>
                <div class="loginLabel">Id</div>
                <div class="loginfield"><input type="text" id="username" name="username" /></div>
            </div>
            <div>
                <div class="loginLabel">Clave</div>
                <div class="loginField"><input type="password" id="password" name="password" required /></div>
            </div>
            <div class="loginSeccion"><input type="submit" name="login" value="Login" class="buttonLogin"></div>
        </form>
    </div>
    <div th:if="${param.error != null}" class="errorLogin">
        <p>Credenciales incorrectas</p>
    </div>

<footer th:replace="~{/presentation/fragments/fragments.html :: footer}"></footer>


</body>
</html>