<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header th:replace="~{/presentation/fragments/fragments.html :: header}"></header>

<div class="cuerpo">
    <div class="datos">
        <div class="col_datos">

            <img src="/images/3756698.png" height="512" width="512"/>

            <div class="datos">
                <div class="col_datos">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" th:field="*{usuario.username}">
                    <br><br>
                </div>
            </div>

            <div class="datos">
                <div class="col_datos">
                    <label for="id">ID:</label>
                    <input type="text" id="id" name="id" th:field="*{persona.cedula}">
                    <br><br>
                </div>
                <div class="col_datos">
                    <label for="nombre">Name:</label>
                    <input type="text" id="nombre" name="nombre" th:field="*{persona.nombre}">
                    <br><br>
                </div>
            </div>

            <div th:if="${persona.getUsuario().rol == 'Medico'}">
                <div class="datos">
                    <div class="col_datos">
                        <label for="especialidad">Speciality:</label>
                        <input type="text" id="especialidad" name="especialidad" th:field="*{persona.especialidad}">
                        <br><br>
                    </div>
                    <div class="col_datos">
                        <label for="costo">Consultation fee:</label>
                        <input type="text" id="costo" name="costo" th:field="*{persona.especialidad}">
                        <br><br>
                    </div>
                </div>
                <div class="datos">
                    <div class="col_datos">
                        <label for="lugar">Location:</label>
                        <input type="text" id="lugar" name="lugar" th:field="*{persona.lugarAtencion}">
                        <br><br>
                    </div>
                </div>
                <div class="col_datos">
                    <label>Service hours</label>
                    <div class="datos">
                        <div class="col_datos">
                            <label for="inicio">Start time:</label>
                            <input type="text" id="inicio" name="inicio" th:field="*{persona.horarioInicio}">
                            <br><br>
                        </div>
                        <div class="col_datos">
                            <label for="final">End time:</label>
                            <input type="text" id="final" name="final" th:field="*{persona.horarioFin}">
                            <br><br>
                        </div>
                    </div>
                    <div class="col_datos">
                        <label for="frecuencia">Frequency:</label>
                        <input type="text" id="frecuencia" name="frecuencia" th:field="*{persona.frecuenciaCitas}">
                        <br><br>
                    </div>
                    <div class="col_datos">
                        <label for="dias">Days:</label>
                        <input type="text" id="dias" name="dias" th:field="*{persona.aprobado}">
                        <br><br>
                    </div>
                    <div class="col_datos">
                        <label for="presentacion">Presentation:</label>
                        <input type="text" id="presentacion" name="presentacion" th:field="*{persona.presentacion}">
                        <br><br>
                    </div>
                </div>
            </div>

            <div th:if="${persona.getUsuario().rol == 'Paciente'}">
                <div class="datos">
                    <div class="col_datos">
                        <label for="telefono">Phone Number:</label>
                        <input type="text" id="telefono" name="telefono" th:field="*{persona.telefono}">
                        <br><br>
                    </div>
                    <div class="col_datos">
                        <label for="direccion">Address:</label>
                        <input type="text" id="direccion" name="direccion" th:field="*{persona.direccion}">
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{/presentation/fragments/fragments.html :: footer}"></footer>

</body>
</html>
