<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header th:replace="~{/presentation/fragments/fragments.html :: header}"></header>

<form action="/presentation/usuarios/registerUsuario" method="POST">
  <div class="cuerpo">
    <div class="register">
      <h1>Register</h1>
      <img src="/images/3756698.png" height="512" width="512"/>

      <div class="campo">
        <div><i class="fas fa-id-card"></i></div>
        <div><input type="text" name="id" placeholder="ID" required /></div>
      </div>

      <div class="campo">
        <div><i class="fas fa-user"></i></div>
        <div><input type="text" name="nombre" placeholder="Name" required /></div>
      </div>

      <div class="campo">
        <div><i class="fas fa-user-circle"></i></div>
        <div><input type="text" name="username" th:value="${usuario.username}" placeholder="UserName" required /></div>
      </div>

      <div class="campo">
        <div><i class="fas fa-key"></i></div>
        <div><input type="password" name="password" th:value="${usuario.password}" placeholder="Password" required /></div>
      </div>

      <div class="campo">
        <div><i class="fas fa-lock"></i></div>
        <div><input type="password" name="password_c" placeholder="Confirm Password" required /></div>
      </div>

      <div class="campo">
        <div><i class="fas fa-user-tag"></i></div>
        <div>
          <select name="rol" required>
            <option value="Paciente" th:selected="${usuario.rol == 'Paciente'}">Patient</option>
            <option value="Doctor" th:selected="${usuario.rol == 'Doctor'}">Doctor</option>
          </select>
        </div>
      </div>

      <div class="campo">
        <div><i class="fas fa-folder"></i></div>
        <label for="file-upload" class="upload">Photo</label>
        <input type="file" id="file-upload" name="photo" style="display:none;">
      </div>

      <div class="campo">
        <button type="submit">Register</button>

      </div>
    </div>
  </div>
</form>

<footer th:replace="~{/presentation/fragments/fragments.html :: footer}"></footer>
</body>
</html>