<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body class="RegisterBody">
<header th:replace="~{/presentation/fragments/fragments.html :: header}"></header>

<div>
<form action="/presentation/usuarios/create" method="POST">
  <div class="cuerpoReg">
    <div class="register">
      <div class="CabezeraR">
        <img src="/images/Registro%20Icon2.png" height="512" width="512"/>
      <h1>Register</h1>
      </div>
      <!-- Mostrar mensaje de error general -->
      <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
      </div>

      <!-- Campos del formulario -->
      <div class="campo">
        <div><i class="fas fa-id-card"></i></div>
        <div>
          <input type="text" th:field="*{persona.cedula}" placeholder="ID" required />
          <div th:if="${#fields.hasErrors('persona.cedula')}" class="error-message">
            <p th:text="${#fields.errors('persona.cedula')}"></p>
          </div>
        </div>
      </div>

      <div class="campo">
        <div><i class="fas fa-user"></i></div>
        <div>
          <input type="text" th:field="*{persona.nombre}" placeholder="Name" required />
          <div th:if="${#fields.hasErrors('persona.nombre')}" class="error-message">
            <p th:text="${#fields.errors('persona.nombre')}"></p>
          </div>
        </div>
      </div>

      <div class="campo">
        <div><i class="fas fa-user-circle"></i></div>
        <div>
          <input type="text" th:field="*{usuario.username}" placeholder="UserName" required />
          <div th:if="${#fields.hasErrors('usuario.username')}" class="error-message">
            <p th:text="${#fields.errors('usuario.username')}"></p>
          </div>
        </div>
      </div>

      <div class="campo">
        <div><i class="fas fa-key"></i></div>
        <div>
          <input type="password" th:field="*{usuario.clave}" placeholder="Password" required />
          <div th:if="${#fields.hasErrors('usuario.clave')}" class="error-message">
            <p th:text="${#fields.errors('usuario.clave')}"></p>
          </div>
        </div>
      </div>

        <div class="campo">
          <div><i class="fas fa-lock"></i></div>
          <div><input type="password" name="password_c" placeholder="Confirm Password" required /></div>
        </div>

      <div class="campo">
        <div><i class="fas fa-user-tag"></i></div>
        <div>
          <select th:field="*{usuario.rol}" required>
            <option value="Paciente" th:selected="${usuario.rol == 'Paciente'}">Patient</option>
            <option value="Medico" th:selected="${usuario.rol == 'Medico'}">Doctor</option>
          </select>
          <div th:if="${#fields.hasErrors('usuario.rol')}" class="error-message">
            <p th:text="${#fields.errors('usuario.rol')}"></p>
          </div>
        </div>
      </div>

      <div class="campo">
        <div><i class="fas fa-folder"></i></div>
        <label for="file-upload" class="upload">Photo</label>
        <input type="file" id="file-upload" name="photo" style="display:none;">
      </div>

      <div class="campo">
        <button type="submit">Register</button>
      </div>
    </div>
  </div>
</form>
</div>

<footer th:replace="~{/presentation/fragments/fragments.html :: footer}"></footer>
</body>
</html>


