<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Appointment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body id="cuerpo_index">
<header th:replace="~{/presentation/fragments/fragments.html :: header}"></header>

<div id="cuerpo_div_index" class="cuerpo">
    <div class="buscar_lugar_especialidad">
        <div class="buscador">
            <form class="buscar_especialidad_lugar">
                <span>Speciality</span>
                <input type="text" name="speciality" placeholder="">
                <span>City</span>
                <input type="text" name="city" placeholder="">
                <button type="submit" name="buscar">
                    Search
                </button>
            </form>
        </div>
    </div>
    <div class="medicos" th:each="m : ${medicos}">
        <div class="cada_medico">
            <div class="info_citas">
                <div class="informacion_medico">
                    <img th:src="${m.getFotoUrl()}" alt="medico"/>
                    <div class="informacion_personal">
                        <div class="separacion">
                            <h5 class="nombre_medico">
                                <span th:text="${m.getNombre()}"></span>
                                <span class="id_medico" th:text="${m.getId()}"></span>
                            </h5>
                            <small class="especialidad_medico" th:text="${m.getEspecialidad()}"></small>
                        </div>
                        <p class="lugar_atencion">
                            <span th:text="${m.getLugarAtencion()}"></span>
                        </p>
                    </div>
                    <div class="cada_cita">
                    <div class = "dias_disponibles" th:each="medicoEntry : ${medicosHorarios}">
                        <div th:if="${medicoEntry.key == m.getId()}">
                            <div th:id="'ver-mas-' + ${m.getId()}" class="dias">
                                <div th:each="dia, iter : ${medicoEntry.value}">
                                    <div th:classappend="${iter.index >= 2} ? 'oculto' : ''">
                                        <p th:text="${dia}"></p>
                                        <div class="citas_disponibles">
                                            <form th:action="@{/presentation/patient/book/save}" method="post" ></form>
                                            <div th:each="hora : ${m.citasDisponibles()}">
                                                <!--Agarrar la hora seleccionada-->
                                                <button type="submit" th:name="hora" th:value="${hora}" th:text="${hora}"></button>
                                            </div>
                                            <!--Agarrar el dia-->
                                            <input type="hidden" th:name="dia" th:value="${dia}" />
                                            <!--Agarrar el id medico-->
                                            <input type="hidden" th:name="medicoId" th:value="${m.getId()}" />
                                        </div>
                                    </div>
                                </div>
                                <div class="bottonSchedule">
                                    <a th:href="@{/presentation/patient/schedule/{id}(id=${m.id})}" class="btn_schedule">
                                        Schedule
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="~{/presentation/fragments/fragments.html :: footer}"></footer>

</body>
</html>