<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Medical Appointment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body id="cuerpo_index">
    <header>
        <div class="header-content">
            <h2><img src="/images/dasdasd.jpg" height="768" width="1024"/>Medical Appointment</h2>

            <p><i class="fas fa-phone-alt" style="font-size: 10px; color: orange;"></i> +506 5467 0937</p>

            <div class="header-links">
                <p>About...</p> <p>Search</p> <p>Login</p>
                <p><a href="presentation/usuarios/registerSys">Registro</a></p>

            </div>
        </div>
    </header>

    <div id="cuerpo_div_index" class="cuerpo">
        <div>
            <div class="buscador">
                <form class="buscar_especialidad_lugar">
                    <span>Speciality</span>
                    <input type="text" name="speciality" placeholder="">
                    <span>City</span>
                    <input type="text" name="city" placeholder="">
                    <button type="submit" name="buscar">
                        Search
                    </button>
                </form>
        </div>
        </div>
                <div class="medicos" th:each="m : ${medicos}">
                    <div class="cada_medico">
                            <div class="inicio_info">
                                <div class="informacion_medico">
                                    <img th:src="${m.getFotoUrl()}" alt="medico"/>
                                    <div class="informacion_personal">
                                        <div class="separacion">
                                    <h5 class="nombre_medico">
                                        <span th:text="${m.getNombre()}"></span>
                                        <span class="id_medico" th:text="${m.getId()}"></span>
                                        <span th:text="${m.citasDisponibles()}"></span>
                                    </h5>
                                    <small class="especialidad_medico" th:text="${m.getEspecialidad()}"></small>
                                        </div>
                            <p class="lugar_atencion">
                                <span th:text="${m.getLugarAtencion()}"></span>
                            </p>
                        </div>
                    </div>
                                <div class="citas_disponibles">
                                    <div class="dias_disponibles" th:each="cita : ${m.getCitas()}">
                                    <span th:text="${cita}"></span>
                                    </div>

                                </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="footer-content">
            Total Soft Inc.
            <div>
                <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
            </div>
            <div>○2019 Tsf, Inc.</div>
        </div>

    </footer>
</body>
</html>