<!DOCTYPE html>
<html lang="en"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Fragments</title>
</head>
<body>

<!-- Fragmento header -->
<header th:fragment="header">
  <div class="header-content">

    <a href="/" class="invicible-link">
    <h2><img src="/images/dasdasd.jpg" height="768" width="1024"/>Medical Appointment</h2>
    </a>

    <div class="telefono">
    <p><i class="fas fa-phone-alt" style="font-size: 10px; color: orange;"></i> +506 5467 0937</p>
    </div>

    <div class="header-links">
      <p>About </p> <p>Search</p>
      <nav>
        <ul class="Menu">
          <!--si no se ha registrado-->
          <th:block sec:authorize="isAnonymous()">
            <p><a th:href="@{/presentation/usuarios/login}">Login</a></p>
          </th:block>
          <!-- Mostrar el nav si el usuario está autenticado -->
          <th:block sec:authorize="isAuthenticated()">
            <li>
              <a href="#"><span sec:authentication="name"></span> </a>
              <ul>
                <li><span sec:authentication="name"> </span> </li>
                <li><a href="/presentation/perfil/show">Perfil</a></li>
                <li><a href="/presentation/usuarios/history">history</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </li>
          </th:block>
        </ul>
      </nav>
    </div>
  </div>
</header>

<!--<nav th:fragment="nav" xmlns:sec="http://www.w3.org/1999/xhtml">-->
<!--  <ul class="Menu">-->
<!--    <li><a href="/nadaAun">Algo</a></li>-->

<!--    &lt;!&ndash; Solo visible para usuarios con autoridad 'ADM' &ndash;&gt;-->
<!--    <th:block sec:authorize="hasAuthority('ADM')">-->
<!--      <li><a href="/Algo">Perfil</a></li>-->
<!--    </th:block>-->

<!--    &lt;!&ndash; Solo visible para usuarios no autenticados &ndash;&gt;-->
<!--    <th:block sec:authorize="isAnonymous()">-->
<!--      <li><a th:href="@{/presentation/usuarios/login}">Login</a></li>-->
<!--    </th:block>-->

<!--    &lt;!&ndash; Solo visible para usuarios autenticados &ndash;&gt;-->
<!--    <th:block sec:authorize="isAuthenticated()">-->
<!--      <li class="dropdown">-->
<!--        <input type="checkbox" id="dropdown-toggle" class="dropdown-toggle">-->
<!--        <label for="dropdown-toggle" class="dropbtn">&#128697;</label>-->
<!--        <ul class="dropdown-content">-->
<!--          <li>&#45;&#45; <span sec:authentication="name"></span> &#45;&#45;</li>-->
<!--          <li><a href="/presentation/perfil/show">Perfil</a></li>-->
<!--          <li><a href="/logout">Logout</a></li>-->
<!--        </ul>-->
<!--      </li>-->
<!--    </th:block>-->
<!--  </ul>-->
<!--</nav>-->

<!--xmlns:sec="http://www.w3.org/1999/xhtml"-->

<!-- Fragmento footer -->
<footer th:fragment="footer">
  <div class="footer-content">
    Total Soft Inc.
    <div>
      <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
      <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
      <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="AnioInf">○2019 Tsf, Inc.</div>
  </div>
</footer>

</body>
</html>
