<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header th:replace="~{/presentation/fragments/fragments.html :: header}"></header>

<div class = "cuerpo" >
    <div id="cuerpo_div_index" class="cuerpo">
        <div class="datos">
            <div class="col_datos">
                <img src="/images/3756698.png" height="512" width="512"/>
                usesrname
                <div class="datos">
                    <div class="col_datos">
                        id
                    </div>
                    <div class="col_datos">
                        nombre
                    </div>
                </div>
                <div class="datos">
                    <div class="col_datos">
                        especialidad
                    </div>
                    <div class="col_datos">
                        costo de consulta
                    </div>
                </div>
                <div class="datos">
                    <div class="col_datos">
                        Lugar de atencion
                    </div>
                </div>
                <div class="col_datos">
                    Horario de atencion
                    <div class="datos">inicio</div>
                    <div class="datos">fin</div>
                    <div class="datos">cada</div>
                    <div class="datos">dias</div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{/presentation/fragments/fragments.html :: footer}"></footer>

</footer>
</body>
</html>