body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    overflow-x: hidden;
}

header {
    background-color: lightcyan;
    justify-content: space-between;
    text-align: center;
    color: lightslategrey;
    padding-top: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-content h2 {
    display: flex;
    align-items: center;
    gap: 0.05%;
    width: 25%;
    /*border: blueviolet solid 1px;*/
    font-family: Cambria, serif;
    font-style: italic;
    color:darkcyan;
    text-align: start;
}

.header-content img{
    margin-right: 10px;
    border-radius: 60px;
    width: 25%;
    height: auto;
    object-fit: cover;
}

.header-links {
    display: flex;
    gap: 15px;
}

.cuerpo{
    font-family: Arial, sans-serif;
    padding-block: 20px;
    border-radius: 10px;
    margin-top: 7%;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}
/*------------------PRINCIPAL----------------------------*/

#cuerpo_div_index{
    background-color: #ccc;
    margin: 120px auto;
    padding: 5px;
    width: 1000px;
}

.buscador{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.buscar_especialidad_lugar{
    display: flex;
}

.buscar_especialidad_lugar input{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    border-bottom-left-radius: 0px ;
    border-top-left-radius: 0px ;
    margin-right: 10px;
    width: 150px;
    outline: none;
}

.buscar_especialidad_lugar span {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 14px;
    color: #555;
}

.medicos{
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
}
.medicos h5{
    color: black;
    font-weight: bold;
}

.separacion{
    border-bottom: 1px solid #ccc;
}

.medicos p{
    color: black;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0px;
}

.id_medico{
    color: #007bff;
}

.medicos img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.informacion_medico{
    display: flex;
    align-items: center;
}

.buscador button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background-color: lightslategrey ;
}

/*-------------------REGISTRO--------------------------------*/
.register{
    margin-top: 0;
    color: #424242;
    background-color: #efeeee;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 0.3%;
    padding-bottom: 1%;
    border-radius: 15px;
}

.register img{
    width: 30%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.register button{
    background-color: #f84d4d;
    color: white;
    margin-top: 5%;
    padding: 5px 30px;;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
    text-align: center;
}

div.campo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15%;
}

div.campo>div{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
}

div.campo>div:nth-child(1){
    white-space-collapse: collapse;
    text-align: left;
    margin-right: 5px;
    font-weight: bold;
}

.upload {
    background-color: #efeeee;
    padding: 3px 6px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    border: 2px solid black;
    font-size: 13px;
}

.error-message{
    color: red;
    font-size: 12px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*-------------------FIN REGISTRO--------------------------------*/
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1480px;
    padding: 0 20px;
}

.footer-content div:first-child{
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.icon {
    background-color: white;
    color: #333;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/*<p>Appointments</p> <p>Profile</p> <p>Usuario</p>*/
