body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    overflow-x: hidden;
}

header {
    background-color: lightcyan;
    justify-content: space-between;
    text-align: center;
    color: lightslategrey;
    padding-top: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-content h2 {
    display: flex;
    align-items: center;
    gap: 0.05%;
    width: 25%;
    /*border: blueviolet solid 1px;*/
    font-family: Cambria, serif;
    font-style: italic;
    color:darkcyan;
    text-align: start;
}

.header-content img{
    margin-right: 10px;
    border-radius: 60px;
    width: 25%;
    height: auto;
    object-fit: cover;
}

.header-links {
    display: flex;
    gap: 15px;
}

.cuerpo{
    font-family: Arial, sans-serif;
    padding-block: 20px;
    border-radius: 10px;
    margin-top: 7%;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}
/*------------------PRINCIPAL----------------------------*/

#cuerpo_div_index{
    background-color: #ccc;
    margin: 120px auto;
    padding: 5px;
    width: 1000px;
}

.buscador{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.buscar_especialidad_lugar{
    display: flex;
}

.buscar_especialidad_lugar input{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 20px;
    border-bottom-left-radius: 0px ;
    border-top-left-radius: 0px ;
    margin-right: 10px;
    width: 150px;
    outline: none;
}

.buscar_especialidad_lugar span {
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    padding: 8px 12px;
    font-size: 14px;
    color: #555;
}

.medicos{
    margin-top: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
}

.informacion_medico{
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.medicos h5{
    color: black;
    font-weight: bold;
}

.medicos p{
    color: black;
    font-size: 15px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0px;
}

.id_medico{
    color: #007bff;
}

.medicos img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.citas_disponibles{
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.info_citas{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
}

#cuerpo_div_index button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
}

#cuerpo_div_index button:hover{
    background-color: lightslategrey ;
}

.dias_disponibles{
    flex-direction: row;
}

.oculto {
    display: none;
}

.toggleDias:checked ~ div .oculto {
    display: block;
}

/*-------------------REGISTRO--------------------------------*/
.register{
    margin-top: 0;
    color: #424242;
    background-color: #efeeee;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding-top: 0.05%;
    padding-bottom: 1%;
    border-radius: 15px;
}

.register img{
    width: 20%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.register button{
    background-color: #f84d4d;
    color: white;
    margin-top: 5%;
    padding: 5px 30px;;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
    text-align: center;
}

div.campo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 15%;
}

div.campo>div{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 5px;
}

div.campo>div:nth-child(1){
    white-space-collapse: collapse;
    text-align: left;
    margin-right: 5px;
    font-weight: bold;
}

.upload {
    background-color: #efeeee;
    padding: 3px 6px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    border: 2px solid black;
    font-size: 13px;
}

.error-message{
    color: red;
    font-size: 12px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.register i{
    border-radius: 2px;
    background-color: white;
    border: 1px solid #777777;
    padding: 15%;
}

/*-------------------FIN REGISTRO--------------------------------*/
/*---------------------PERFIL--------------------------------*/
.col_datos {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    background-color: #efeeee;
    width: 90%;
    height: auto;
    padding: 10px;
}

.datos {
    display: flex;
    flex-direction: row;
    border: 1px solid violet;
    background-color: whitesmoke;
    padding: 5px;
    margin-bottom: 5px;
}

.datos img{
    width: 20%;
    height: auto;
    border-radius: 40%;
    object-fit: cover;
}
/*-------------------FIN PERFIL--------------------------------*/
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1480px;
    padding: 0 20px;
}

.footer-content div:first-child{
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.icon {
    background-color: white;
    color: #333;
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/*----------------------------------------------------------------------------Login CSS----------------------------------------------------------------------------*/

.divFormLogin {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: ghostwhite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.LoginBody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.buttonLogin {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
}

.buttonLogin:hover {
    background-color: #0056b3;
}

.iconLogin {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 10px;
}

.loginFieldsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}


.loginField {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 300px;
    justify-content: center;
}

.loginField i{
    margin-right: 12px;
}
.loginField input {
    width: 60%;
    padding: 8px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="text"], input[type="password"] {
    width: 60%;
    padding: 8px;
    font-size: 1em;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.TituloLogin {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.RegisterHere{
    text-align: center;
    margin-top: 20px;
}

/*---------------------------------------------------------------------------- Fin Login CSS----------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------- Schedule ----------------------------------------------------------------------------*/

.ScheduleBody {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

.cuerpoSchedule {
    display: flex;
    align-items: center; /* Alinear verticalmente */
    gap: 15px; /* Reducir separación */
    width: 100%; /* Hacer que ocupe todo el ancho */
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.ScheduleButton {
    padding: 10px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.ScheduleButton:hover {
    background-color: #0056b3;
}

.Prev {
    padding: 10px 20px;
    background-color: royalblue;
    color: White;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: -150px;
}

.Prev:hover {
    background-color: darkcyan;
}

.FotoDoc {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}

.InfoGeneral {
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 2px; /* Reducir espacio entre info */
}

.InfoDoc h3 {
    white-space: nowrap;
    margin: 0;
    font-size: 18px; /* Tamaño ajustado */
}

.InfoDoc p {

    white-space: nowrap;
    margin: 0;
    font-size: 14px;
}

.InfoDoc2 p {
    margin-top: 10px;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
}

.ScheduleHorario {
    display: flex;
    flex-wrap: wrap;  /* Permite que los días y horas se ajusten si no caben */
    gap: 10px;  /* Reducir espacio entre los días */
    width: 100%;
}

.DiaHorario {

    white-space: nowrap;
    display: flex;
    flex-direction: column;  /* Los días tendrán sus horas debajo */
    align-items: center;  /* Centra los elementos dentro de cada día */
    text-align: center;
    width: 30%; /* Los días ocuparán el 30% del contenedor */
    margin: 0; /* Asegura que no haya margen extra entre los días */
}

.HorasDeExtendido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 10px;
    width: 100%;
}

.ScheduleButton2 {
    padding: 6px 8px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 70px;
    text-align: center;
}

.ScheduleButton:hover {
    background-color: #0056b3;
}

/*---------------------------------------------------------------------------- Fin Schedule ----------------------------------------------------------------------------*/

/*<p>Appointments</p> <p>Profile</p> <p>Usuario</p>*/
